mixin nav
    .row
        .col-5
            ul.nav__list.d-flex
                li.nav__item
                    a.nav__link(href="") Services
                li.nav__item
                    a.nav__link(href="") Faq/Tips
                li.nav__item
                    a.nav__link(href="") Reviews
                li.nav__item
                    a.nav__link(href="") locations
                li.nav__item
                    a.nav__link(href="") Reservation
        .col-2.offset-5
            .nav__region.d-flex.align-items-center
                p.nav__text Your region:
                img.nav__img(src="./img/pin1.png", alt="")
                a.nav__textregion(href="") San Jose            