mixin utp
    .wrapper
        .container
            .row
                .col-xl-6.col-lg-6
                    h1.utp__title A Trustworthy Moving Company in Los Angeles
                    p.utp__subtitle Licensed in California Public Utilities Commission 
                    p.utp__subtitle1 CAL P.U.C. T0191956
                    .utp__box.d-flex.align-items-center
                        p.utp__video Watch how we work
                        a.utp__play(href="#")
                        img.utp__triangle(src="./img/Vector.png", alt="") 
                .col-xl-4.offset-2.col-lg-4
                    form.utp__form(action="#")
                        h2.utp__titleform Get Your Quote Online!
                        label(for="quote")
                            input.utp__move(type="text" placeholder="Move Date" value="")
                            input.utp__from(type="search" placeholder="From Zip" value="")
                            input.utp__frombut(type="submit" value="")
                            input.utp__to(type="search" placeholder="To Zip" value="")
                            input.utp__tobut(type="submit" value="")
                            input.utp__submit(name="quote" type="submit" value="GET MY QUOTE")
                        p.utp__subtitleform or
                            a.utp__subtitle-tel(href="tel:8002980044") Call (800) 298-0044
                        p.utp__footer We do not  share your data 
                            span.utp__color  &     
                        
            